# Dependencies
node_modules/

# Build outputs
.next/
out/
build/
dist/

# Strapi uploads & cache
strapi-base/.tmp/
strapi-base/public/uploads/
strapi-base/build/
strapi-base/.cache/

# Env files
.env
.env.local
.env*.local

# OS
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
